<h1>YOURE ARITLCESSSSSSSs</h1>
<ul>
    {{#each articles}}
    <h1>{{title}}</h1>
    <h2>{{body}}</h2>
    <h2>by: {{author}}</h2>
    {{/each}}
</ul>

<a href="/articles">GO BACK BITCH</a>

<style>
    h1 {
        color: indigo;
    }

    h2 {
        color: seagreen;
    }

    a {
        color: red;
    }
</style>