<form method="POST" action="/articles/{{title}}?_method=PUT">
    <br> Title:
    <input type="text" name="name" value={{title}}>
    <br> Author:
    <input type="text" name="price" value={{author}}>
    <br> Body:
    <input type="text" name="inventory" value={{body}}>
    <br>
    <input type="submit" value="Submit">
</form>


<br>
<br>

<a href="/articles">GO BACK BITCH</a>