<h1>welcome to articles</h1>

<ul>
    {{#each articles}}
    <h1>
        <a href="/articles/:title">{{title}}</a>
    </h1>
    {{/each}}
</ul>


{{>footer}}

<style>
    h1 {
        color: aqua;
    }
</style>