<form method="POST" action="/products">
    Name:
    <input type="text" name="name">
    <br>
    <br> Price:
    <input type="text" name="price">
    <br>
    <br> Inventory:
    <input type="text" name="inventory">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>

<br>
<br>

<a href="/products">GO BACK BITCH</a>