<h1>YO PRODUCCTTS</h1>
<ul>
    <h1>{{name}}</h1>
    <h2>${{price}}</h2>
    <h2>{{inventory}}</h2>
</ul>


<form method="POST" action="/products/{{id}}?_method=DELETE">
    <button type="submit">Delete Product</button>
</form>
<br>
<a href="/products">GO BACK BITCH</a>

<style>
    h1 {
        color: indigo;
    }

    h2 {
        color: seagreen;
    }

    a {
        color: red;
    }

    button {
        color: dodgerblue;
        font-size: 15px;
    }
</style>