<h1>YO PRODUCCTTS</h1>
<ul>
    {{#each products}}
    <h1>#{{id}} {{name}}</h1>
    <h2>${{price}}</h2>
    <h2>{{inventory}}</h2>
    {{/each}}
</ul>

<a href="/products">GO BACK BITCH</a>

<style>
    h1 {
        color: indigo;
    }

    h2 {
        color: seagreen;
    }

    a {
        color: red;
    }
</style>